---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex max-w-7xl mx-auto">
    <Profile />
    <div>
      <h1 class="text-9xl font-bold flex flex-col pt-20 w-2/3">
        <span class="text-white">SOFTWARE</span>
        <span class="text-[#565455]">ENGINEER</span>
      </h1>
      <p class="text-[#998f8f] text-xl mt-8 max-w-3xl">
        Con 4 años de experiencia desarrollando aplicaciones web, especializado
        en mejorar la experiencia de usuario y optimizar el rendimiento de
        plataformas de comercio electrónico. Manejo avanzado de tecnologías como
        Next.js, Astro, NestJS, Django, así como integración de herramientas de
        análisis como Google Analytics y Google Tag Manager. Busco unirse a un
        equipo dinámico donde pueda contribuir con mis habilidades técnicas y
        seguir creciendo profesionalmente.
      </p>
    </div>
  </main>
</Layout>

<style></style>
