<div class="w-1/3 pt-20">
  <div class="p-5 bg-white rounded-xl max-w-xs">
    <picture class="flex justify-center">
      <img
        src="/photo.jpg"
        alt="avatar"
        width="200"
        height="200"
        class="object-cover h-[240px]"
      />
    </picture>
    <p class="text-center text-3xl font-bold text-blak mt-5">
      Anthoni Portocarrero
    </p>
  </div>
</div>
